<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      'api/users/user.json.jbuilder',
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script type="text/javascript">
  window.images = {
    logo: "<%= asset_path('logo.png') %>",
    pane1_img: "<%= asset_path('pane1_img.png') %>",
    exclamation_circle: "<%= asset_path('exclamation_circle.jpeg') %>"
  }
</script>
<main id="root"></main>
