$green: #21ce99;
$light-green: #1ae9aa;
$red: #f45531;
$light-red: #ff6340;

// light mode
$white: #fff;
$light-gray: #eee;
$medium-gray: #ddd;
$gray: #cbcbcd;
$light-shadow-1: #fafafa;
$light-shadow-2: rgba(0, 0, 0, 0.01);
$light-shadow-3: rgba(48, 51, 51, 0.09);

// dark mode
$black: #1B1B1D;
$border-black: #0E0D0D;

html {
  background-color: #fff;
  --bg: #fff;
  --border: #eee;
  --color: #000;
  --input: #cbcbcd;
  --search: #ddd;
  --shadow-1: #fafafa;
  --shadow-2: rgba(0, 0, 0, 0.01);
  --shadow-3: rgba(48, 51, 51, 0.09);
}

html[data-theme='dark'] {
  color: #fff;
  background-color: #1B1B1D;
  --bg: #1B1B1D;
  --border: #0E0D0D;
  --color: #fff;
  --shadow-1: #171718;
  --shadow-3: rgba(0, 0, 0, 0.6);
}