html, head, header, body, h1, h2, h3, h4, h5, h6, main, nav, aside,
div, span, img, strong, section, figcaption, footer, button
menu, ul, ol {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif
}

input {
  background-color: var(--bg);
  color: var(--color);
  border: none;
}