.chart-choice {
  cursor: pointer;
  padding-bottom: 15px;
}

.chart-choice.active {
  color: $green;
  border-bottom: 2px solid $green;
}

.chart-choice:hover {
  color: $green;
}

.chart {
  padding: 0;
  padding-left: -20px;
  margin: 0 5px;
}

.stock-chart {
  margin-top: 32px;
}

.chart-range {
  display: flex;
  margin-top: 26px;
  font-size: 14px;
  font-weight: 700;
  li {
    margin: 0 22px 0 0;
  }
  padding-bottom: 15px;
  margin-right: 35px;
  border-bottom: 1px solid var(--border);
}

.chart-range.stock {
  margin-right: 55px;
}

body.negative .chart-choice:hover {
  color: $red;
}

body.negative .chart-choice.active {
  color: $red;
  border-bottom: 2px solid $red;
}

.chart-loading {
  width: 710px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-loading::after {
  content: ''
}