.loggedin-nav-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  justify-content: space-between;
  z-index: 999;
  align-items: center;
  padding: 16px 40px 20px 48px;
}

.loggedin-nav-link {
  display: inline-block;
  padding-top: 5px;
  margin-right: 30px;
  margin-left: 30px;
  color: black;
  font-size: 12.5px;
  font-family: DIN Pro,-apple-system,BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  background-color: white;
  border-color: rgba(0, 0, 0, 1);
  border: none;
  cursor: pointer;
}

.loggedin-nav-link:last-child {
  margin: 0;
}

.loggedin-nav-link:hover {
  color: #21ce99;
}

.loggedin-nav-link:focus {
  outline: none;
}

.svg-logo:hover {
  fill: #21ce99;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 1190px;
  margin-left: 70px;

  input {
    border: none;
    height: 32px;
    width: 400px;
    padding: 2px 20px 0 20px;
  }
  input:focus {
    outline: none;
  }
  .loggedin-nav-links {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 5px;
  }
}
