.news {
  margin-top: 60px;
}

.stock-show .news h2 {
  margin-left: 5px;
  font-size: 24px;
  font-weight: 700;
  font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.stock-show .news ul {
  // margin-top: 25px;
}

.user-home .news h2 {
  margin-left: 5px;
  font-size: 26px;
  font-weight: 500;
  font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.user-home .news ul {
  // margin-top: 28px;
  margin-left: 7px;
}

.news-loading {
  display: flex;
  width: 70%;
  margin: 10px 0;
  justify-content: center;
}
