.stock-show {
  display: flex;
  width: 1036px;
  margin: 140px auto;
  h1 {
    font-size: 32px;
    font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: 600;
  }
  h3 {
    font-size: 32px;
    font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
    font-weight: 400;
  }
}
