.stock-dashboard-container {
  position: relative;
  margin-left: 35px;
}
.stock-dashboard {
  border: 1px solid var(--border);
  // width: 275px;
  position: fixed;
  top: 12%;
  bottom: 3%;
  // box-shadow: 3px 0px 2px #fafafa, -3px 0px 2px #fafafa, 0px 3px 2px #fafafa, 0px -3px 2px #fafafa;
  box-shadow: 0 0 4px 1px $light-shadow-2, 0 3px 24px $light-shadow-3;
  overflow: scroll;

  h4 {
    padding: 15px 25px;
    border-bottom: 1px solid var(--border);
    font-weight: 500;
    width: 275px;
    height: 52px;
  }
}

.stock-dashboard.overflow {
  bottom: 30%;
}
