.stock-index-item {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  font-weight: 500;
  width: 227px;
  height: 60px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    width: 70px;
  }
  h5 {
    padding-top: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  p {
    margin: 3px 0;
    font-size: 13px;
    font-weight: 400;
  }
  h6 {
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    font-weight: 400;
  }

  .stock-mini-chart {
    padding-left: 5px;
  }
}

.stock-index-item:hover {
  background: #fafafa;
}
