.stock-search-bar {
  // display: flex;
  border: 1px solid #eee;
  width: 477px;
  height: 36px;
  .search-res {
    display: none;
  }
  input:focus + .search-res, .search-res:focus-within, .search-res:focus, .search-res:active {
    display: block;
    background: white;
    z-index: 999;
    font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
    padding: 1px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    h4 {
      padding: 15px 20px;
      color: #ddd;
    }
    .search-res-item {
      // display: flex;
      // justify-content: flex-start;
      padding: 15px 20px;
      p {
        display: inline-block;
        color: black;
        font-size: 12px;
        font-weight: 500;
      }
      .search-ticker {
        width: 70px;
      }
      .search-name {
        width: 300px;
      }
    }
    .search-res-item:hover {
      background: #fafafa;
    }
  }
}

// .search-res-wrapper {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
//   height: 100%;
//   background: transparent;
//   z-index: 1;
// }
