.stock-about {
  margin-top: 45px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  margin-left: 5px;
  padding-bottom: 10px;
  margin-right: 55px;

  h3 {
    margin-top: 5px;
    color: $green;
  }
  h3:hover {
    color: $light-green;
    cursor: pointer;
  }
}
.stock-show .stock-about h2 {
  font-size: 24px;
  font-weight: 700;
}

.stock-short-description {
  margin: 27px 5px 42px 5px;
  padding-right: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
}

.stock-facts {
  display: flex;
  margin: 5px;
  margin-bottom: 15px;
  li {
    width: 173px;
    h3 {
      font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
      font-weight: 500;
    }
    h4 {
      font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
      font-weight: 400;
      font-size: 13px;
    }
    .ceo {
      color: $green;
    }
  }
}

body.negative {
  .header {
    h3 {
      color: $red;
    }

    h3:hover {
      color: $light-red;
      cursor: pointer;
    }
  }

  .ceo {
    color: $red;
  }
}

ul.stock-facts.hidden {
  display: none;
}
