.stock-index-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  font-weight: 500;
  width: 227px;
  height: 60px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
  }
  h5 {
    padding-top: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  p {
    margin: 3px 0;
    font-size: 13px;
    font-weight: 400;
  }
  h6 {
    font-size: 16px;
    font-weight: 400;
  }
}
