.transactions-index {
  margin-top: 60px;
  
  h2 {
    margin-left: 5px;
    font-size: 24px;
    font-weight: 700;
    font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
    padding-bottom: 15px;
    margin-right: 55px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 0;
  }
}